body {
 	font-family: 'Lato', sans-serif;
	color: #0066ff;
	font-weight: bold;	
}
.text-muted {
	color: #BCBBBB;
}
.text-thin {
	font-weight: 100;
}

.title-super {
		font-size: 60px;
}
.title-logo {
		margin-top: 20px;
}
hr {
	border: 2.5px solid black;
}

h2 {
	font-family: 'Lato', sans-serif;
	color: black;
	font-weight: bold;	

}

h3 {
	color: black;
}
.col-md-4 .img-responsive {

	cursor: pointer;
}
